<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busca de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
  </head>
  <body>
    <h1>Busca de Produtos no Mercado Livre</h1>
    <form action="{{ url_for('search') }}" method="POST">
      <input type="text" name="termo" placeholder="Digite o nome do produto" />
      <button type="submit">Buscar</button>
    </form>
    {% if produtos %}
    <h2>Resultados para "{{ termo }}"</h2>
    <ul>
      {% for produto in produtos %}
      <li>
        <a href="{{ produto.link }}" target="_blank">{{ produto.titulo }}</a> -
        R$ {{ produto.preco }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
